* {
    margin: 0;
    font-family: 'Jost', sans-serif;
}

/*NAV BAR*/

.burger {
    overflow: hidden;
    background-color: black;
    position: relative;
    width: 100%;
}

.burger #myLinks {
    display: none;
}

.burger a {
    float: right;
    color: white;
    padding: 5px 16px;
    text-decoration: none;
    font-size: 20px;
}

.burger a.icon {
    background: black;
    display: block;
    position: absolute;
    right: 0;
    top: 0;
}

.burger a.activeLogo {
    float: left;
    color: #333;
    padding: 5px 30px;
    text-decoration: none;
    margin: 0;
}

.burger a:hover {
    background-color: #155D64;
    color: black;
}

.burger a.activeLogo:hover {
    background-color: #1F9EAB;
}

.burger .logo {
    height: 25px;
    vertical-align: middle;
}


/*INDEX*/

.img-container {
    position: relative;
    text-align: left;
    color: white;
    height: 94vh;
}

.top-left {
    position: absolute;
    top: 8px;
    left: 16px;
}

.title {
    letter-spacing: 0.5px;
    font-size: 3.25em;
    font-weight: 500;
}

.subtitle {
    letter-spacing: 0.75px;
    color: #E1E1E1;
    font-size: 1.5em;
}

@media screen and (min-width: 1046px) {
    .title {
        font-size: 4.5em;
    }

    .subtitle{
        font-size: 2em;
    }
}

@media screen and (min-width: 1700px) {
    .title {
        font-size: 5.5em;
    }

    .subtitle{
        font-size: 3em;
    }
}

.aboutme-title {
    text-align: center;
    font-weight: 600;
    font-size: 30px;
    padding-bottom: 1em;
}

.triShape {
    position: absolute;
    width: 100%;
}

.largeScreenTriShape {
    display: none;
}

.mainimg {
    height: 97vh;
    display: block;
    margin-left: auto;
    margin-right: auto;
    background-color: black;
    overflow: hidden;
}

@media screen and (min-width: 1210px){
    .triShape {
        display: none;
    }

    .largeScreenTriShape {
        display: block;
        position: absolute;
        width: 100%;
    }
}

.break {
    height: 30px;
    width: 100vw;
    background-color: grey;
}

div.heading {
    font-size: 2.2em;
    color: #155D64;
    font-weight: 600;
}

.indexIntroTitle {
    padding: 1em 0.5em 0.2em 0.5em;
    text-align: center;
}

.indexServiceTitle {
    text-align: center;
}

.indexPortfolioTitle {
    text-align: center;
}

/*
.intro {
background-color: #A8ACAC;
}
*/

.intro > p {
    padding: 1em 1em;
    text-align: center;
}

.exhibitionText {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80vw;
}

.serviceTable {
    padding: 0em 2em 1em 2em;
    width: 100%;
}

.serviceHeader {
    width: 30vw;
    padding-top: 1.3em;
}

.serviceText {
    width: 30vw;
    padding: 1em;
    vertical-align: top;
    text-align: justify;
    text-align-last: center;
}

hr {
    width: 20%;
    align-content: center;
    margin: auto;
    height: 2px;
    background: grey;
    border-radius: 5px;
}

.parallaxContainer {
    position: relative;
    text-align: center;
    color: black;
    height: 400px;
    overflow: hidden;
}

.parallax-1 {
    background-image: url("Interior/BAYER%20FRONT%20FINAL.jpg");
    min-height: 400px; 
    width: 100%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.7;
}

.quote {
    font-size: 1.8em;
    color: black;
    font-weight: 600;
}

.quoteSub {
    font-size: 1.3em;
    font-weight: 600;
}

.flex-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-top: 3em;
}

.flex-img {
    width: 31vw;
    padding: 0.5em;
}

.indexPortfolioText {
    text-align: center;
    padding: 1em 1em 3em;
}


/*PORTFOLIO*/

.grid {
    text-align: center;
    border-collapse: separate;
}

.portfolio-text {
    width: 40vw;    
}

.flex-container-blue {
    display: flex;
    flex-wrap: wrap;
    background-color: #1F9EAB;
}

.flex-container-white {
    display: flex;
    flex-wrap: wrap;
    background-color: white;
}

.flex-container > div {
    text-align: center;
    line-height: 75px;
    font-size: 30px;
}

.column {
    float: right;
    width: 58vw;
    padding: 1vw;
}


/*CONTACT PAGE*/

.contact-subtitle {
    color: black;
    padding-bottom: 1.5em;
}

form > label {
    color: black;
}

input[type=text], input[type=email], textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}

input[type=submit] {
    background-color: #155D64;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #11494F;
}

.contact-container {
    padding: 20px;
}

/* PRIVACY POLICY */

.privacyHeader {
    font-size: 1.2em;
    padding: 0.5em 0.1em;
    font-weight: 600;
}

.privacyText {
    padding: 0.5em 1em;
}

/*FOOTER*/


footer {
    text-align: center;
    padding: 10px;
    background-color: black;
    color: white;
}

footer a {
    padding-left: 10px;
    padding-right: 10px;
    text-decoration: none;
    color: white;
    transition: 0.3s ease;
    font-size: 17px;
}

footer a:hover {
    color: #1F9EAB;
    transition: 0.3s ease;
    text-decoration: underline;
}







.mySlides {
    display:none; 
    width: 100%;
}

.slideshow {
    max-width: 1000px;
    position: relative;
    margin: auto;
}

.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    background-color: rgb(0,0,0,0.3);
}

.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

.prev {
    left: 0; 
    border-radius: 3px 0 0 3px;
}

.prev:hover, .next:hover {
    background-color: black;
    opacity: 0.8;
}

.numbertext {
    color: #1F9EAB;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}

.dot {
    cursor:pointer;
    height: 13px;
    width: 13px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active, .dot:hover {
    background-color: #155D64;
}

.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}

@-webkit-keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
}

@keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
    .prev, .next,.text {font-size: 11px}
}