* {
    margin: 0;
    font-family: 'Jost', sans-serif;
}


html {
    scroll-behavior: smooth;
}


p {
    font-size: 17px;
}

td {
    font-size: 17px;
}

/*NAV BAR*/

.burger {
    overflow: hidden;
    background-color: black;
    position: relative;
    width: 100%;
}

.burger #myLinks {
    display: none;
}

.burger a {
    float: right;
    color: white;
    padding: 5px 16px;
    text-decoration: none;
    font-size: 20px;
}

.burger a.icon {
    background: black;
    display: block;
    position: absolute;
    right: 0;
    top: 0;
}

.burger a.activeLogo {
    float: left;
    color: #333;
    padding: 5px 20px;
    text-decoration: none;
    margin: 0;
}

.burger a:hover {
    background-color: #155D64;
    color: black;
}

.burger a.activeLogo:hover {
    background-color: #1F9EAB;
}

.burger .logo {
    height: 25px;
    vertical-align: middle;
}



/*INDEX*/

.img-container {
    position: relative;
    text-align: left;
    color: white;
    height: 94vh;
}

.top-left {
    position: absolute;
    top: 5px;
    left: 31px;
}

.title {
    letter-spacing: 0.5px;
    font-size: 3.45em;
    font-weight: 600;
    letter-spacing: 40px;
}

.subtitle {
    letter-spacing: 0.75px;
    color: #E1E1E1;
    font-size: 1.5em;
    letter-spacing: 7px;
    /*    font-family: 'Montserrat', sans-serif;*/
}

.aboutme-title {
    text-align: center;
    font-weight: 600;
    font-size: 30px;
    padding-bottom: 1em;
}

.triShape {
    position: absolute;
    width: 100%;
}

.triPadding {
    background-color: #1F9EAB;
    height: 50px; 
    width: 100vw;
}

.triMobile {
    display: none;
}

.mainimg {
    height: 75vh;
    display: block;
    margin-left: auto;
    margin-right: auto;
    background-color: black;
    overflow: hidden;
    margin-top: 20vh;
}

.mainimgContainer {
    height: 96vh;
    overflow: hidden;
    background-color: black;
}

@media screen and (max-width: 670px){
    .mainimg {
        height: auto;
        width: 100vw;
        margin-top: 10vh;
    }
    
    .mainimgContainer {
        height: auto;
        width: 100vw;
    }
    
    .img-container {
        height: auto;
    }
}

.break {
    height: 30px;
    width: 100vw;
    background-color: grey;
}

div.heading {
    font-size: 2.2em;
    color: black;
    font-weight: 600;
}

.indexIntroTitle {
    padding: 0.5em 0.5em 0.2em 0.5em;
    text-align: center;
}

.indexServiceTitle {
    text-align: center;
    padding-top: 0.8em;
    padding-bottom: 0.8em;
}

.indexPortfolioTitle {
    text-align: center;
}


.intro {
    background-color: #A8ACAC;
}


.intro > p {
    padding: 1em 1em;
    text-align: center;
}

.exhibitionText {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80vw;
}

.serviceTable {
    padding: 0em 2em 1em 2em;
    width: 100%;
}

.serviceTableMobile {
    padding: 0em 2em 1em 2em;
    width: 100%;
    display: none;
}

.serviceHeader {
    width: 30vw;
    padding-top: 1.3em;
}

.serviceText {
    width: 30vw;
    padding: 1em 2.5em;
    vertical-align: top;
    text-align: justify;
    text-align-last: center;
}

.serviceTable-hr {
    width: 30%;
    align-content: center;
    margin: auto;
    height: 2px;
    background: grey;
    border-radius: 5px;
}

.parallaxContainer {
    position: relative;
    text-align: center;
    color: black;
    height: 500px;
    overflow: hidden;
}

.parallax-1 {
    background-image: url("InteriorGraphicImg/Gainsborough%20working%20drawing%202010.jpg");
    min-height: 500px; 
    width: 100%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.2;
}

.parallax-mobile {
    background-image: url(InteriorGraphicImg/Gainsborough%20working%20drawing%202010.jpg);
    height: 100%;
    width: auto;
    background-position: center;
    opacity: 0.2;
    display: none;
}


.quote {
    font-size: 1.8em;
    color: black;
    font-weight: 600;
}

.quoteSub {
    font-size: 1.3em;
    font-weight: 600;
}

.flex-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 1.5em 0em;
}

.flex-img {
    width: 31vw;
    padding: 0.5em;
}

.indexPortfolioText {
    text-align: center;
    padding: 1em 1.5em 1.5em;
    font-size: 18px;
    text-align: justify;
    text-align-last: center;
}


/*PORTFOLIO*/

.grid {
    text-align: center;
    border-collapse: separate;
}

.portfolioDiv {
    width: 40vw;    
    margin: auto;
}

.portfolioTitle {
    font-size: 2em;
    font-weight: 600;
    padding-bottom: 1em;
}

.portfolioTitleMobile-blue {
    font-size: 1.5em;
    font-weight: 600;
    padding-bottom: 0.2em;
    background-color: #1F9EAB;
    color: white;
    margin: auto;
    display: none;
}

.portfolioTitleMobile-white {
    font-size: 1.5em;
    font-weight: 600;
    padding-bottom: 0.2em;
    background-color: white;
    color: #1F9EAB;
    margin: auto;
    display: none;
}

.portfolioText {
    padding: 0 3em;
    font-size: 18px;
}

.blue {
    color: #1F9EAB;
}

.white {
    color: white;
}

.flex-container-blue {
    display: flex;
    flex-wrap: wrap;
    background-color: #1F9EAB;
}

.flex-container-white {
    display: flex;
    flex-wrap: wrap;
    background-color: white;
}

.flex-container > div {
    text-align: center;
    line-height: 75px;
    font-size: 30px;
}

.column {
    float: right;
    width: 57vw;
    margin: auto;
}


/*CONTACT PAGE*/

.contact-subtitle {
    color: black;
    padding-bottom: 1.5em;
}

form > label {
    color: black;
}

input[type=text], input[type=email], textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}

input[type=submit] {
    background-color: #155D64;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #11494F;
}

.contact-container {
    padding: 20px;
}

/* PRIVACY POLICY */

.privacyBody {
    margin: 0 1em;
}

.privacyTitle {
    font-size: 3.4em;
    font-weight: 600;
    padding-top: 0.5em;
}

.privacyHeader {
    font-size: 1.5em;
    padding: 0.5em 16px;
    font-weight: 600;
}

.privacyText {
    padding: 0.5em 16px;
}

.bold {
    font-weight: 600;
}

.privacyTable {
    width: 100%;
}

.privacy-header-tr {
    background-color: lightgray;
}

.privacyCell{
    border: 1px solid black;
    border-collapse: collapse;
    padding: 10px;
}

.alignTop {
    vertical-align: top;
    padding: 1em;
}

.privacyPadding {
    padding: 0.5em;
}

/*FOOTER*/


footer {
    text-align: center;
    padding: 10px;
    background-color: black;
    color: white;
}

footer a {
    padding-left: 10px;
    padding-right: 10px;
    text-decoration: none;
    color: white;
    transition: 0.3s ease;
    font-size: 17px;
}

footer a:hover {
    color: #1F9EAB;
    transition: 0.3s ease;
    text-decoration: underline;
}



/*SLIDESHOW*/

.mySlides {
    display:none; 
    width: 100%;
}

.slideshow {
    position: relative;
    margin: auto;
}

.slideshowImg {
    display: block;
    width: 100%;
    padding-bottom: 6px;
}

.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    background-color: rgb(0,0,0,0.3);
}

.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

.prev {
    left: 0; 
    border-radius: 0 3px 3px 0;
}

.prev:hover, .next:hover {
    background-color: black;
    opacity: 0.8;
}

.numbertext {
    color: #1F9EAB;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}

.dotBg {
    background-color: grey;
}

.dot {
    cursor:pointer;
    height: 13px;
    width: 13px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.dotContainer {
    width: 20%;
    position: absolute;
    bottom: 0;
    left: 40%;
    background-color: rgb(0,0,0,0.4);
    border-radius: 10px 10px 0px 0px;
}

.active, .dot:hover {
    background-color: #1F9EAB;
}

.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}

@-webkit-keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
}

@keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
    .prev, .next,.text {font-size: 11px}
}

@media screen and (max-width: 670px){
    .triShape {
        display: none;
    }
    
    .triMobile {
        display: block;
    }

    .triPadding {
        display: none;
    }

    .quote {
        font-size: 1.2em;
    }

    .quoteSub {
        font-size: 1em;
    }

    .indexPortfolioText {
        font-size: 16px;
    }

    .serviceTable {
        display: none;
    }

    .serviceTableMobile {
        display: block;
        padding: 0.2em;
        margin: auto;
    }

    .serviceText {
        width: 50vw;
        padding: 0.4em;
        vertical-align: top;
        text-align: center;
    }
    
    .parallax-1 {
        display: none;
    }
    
    .parallax-mobile {
        display: block;
    }
}


@media screen and (max-width: 768px){
    p {
        font-size: 16px;
    }

    td {
        font-size: 16px;
    }
}

@media screen and (max-width: 812px){
    serviceText {
        text-align: center;
    }
}

@media screen and (max-width: 480px){
    .burger a {
        font-size: 20px;
    }
}

@media screen and (max-width: 735px){
    .portfolioTitle {
        font-size: 1.2em;
    }
}

@media screen and (max-width:500px){
    .flex-container {
        flex-direction: column;
    }

    .flex-img {
        width: 90vw;
    }
}

@media screen and (max-width: 800px){
    .portfolioText {
        padding: 0 0.5em;
        font-size: 16px;
    }

    .portfolioTitleMobile-white{
        display: block;
    }

    .portfolioTitleMobile-blue{
        display: block;
    }

    .portfolioTitle {
        display: none;
    }
}